.App {
  text-align: left;
}

.page-title {
  display: flex;
  justify-content: center;
  width: 100%
}

.nav {
  display: flex;
  align-items: Left;
  justify-content: space-between;
  padding: 10px; 
  text-align: left; 
  float: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.PageTitle {
  font-size: 25px;
}

.itemContainer {
      border-style: solid;
      border-width: 1px;
      border-color: gray;
      padding: 10px;
      margin: 5px;
      display: 'flex';
      flexDirection: 'column';
      alignItems: 'center';
      width: '60%';
}

.itemImage {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.formItem {
  display: 'flex';
  justifyContent: 'space-between';
  marginBottom: 5;
  width: '80%';
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1;
  grid-row: 1 / 5;
}
.two { 
  grid-column: 2;
  grid-row: 1 / 5;
}
.three {
  grid-column: 3;
  grid-row: 1 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}